<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel = "stylesheet" th:href="@{/css/style.css}">-->
<!--    <link rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">-->
<!--    &lt;!&ndash; <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/font-awesome.min.css"> &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <script defer th:src="@{/js/system.js}"></script>-->
<!--    <title>AnnaBazar.com</title>-->
<!--</head>-->
<!--<body>-->
<!--<input type="checkbox" id = "cart">-->
<!--<label for = "cart" class="label-cart"><span class = "fa fa-shopping-cart"></span></label>-->
<!--<h3 class="logo">Anna Delivery Services-->
<!--    <form method="post" th:action="@{/logout}">-->
<!--        <button type="Logout">Logout</button>-->

<!--    </form>-->
<!--</h3>-->

<!--<div class="sidebar">-->
<!--    <div class="sidebar-menu">-->
<!--        <span class = "fa fa-search"></span>-->
<!--        <a href="#">Search</a>-->
<!--    </div>-->
<!--    <div class="sidebar-menu">-->
<!--        <span class = "fa fa-home"></span>-->
<!--        <a href="#">Home</a>-->
<!--    </div>-->
<!--    <div class="sidebar-menu">-->
<!--        <span class = "fa fa-heart"></span>-->
<!--        <a href="#">Favs</a>-->
<!--    </div>-->
<!--    <div class="sidebar-menu">-->
<!--        <span class = "fa fa-user"></span>-->
<!--        <a href="#">Profile</a>-->
<!--    </div>-->
<!--    <div class="sidebar-menu">-->
<!--        <span class = "fa fa-cog"></span>-->
<!--        <a href="#">Setting</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="dashboard">-->
<!--    <div class="dashboard-banner">-->
<!--        <img th:src = "@{/image/logo.jpg}">-->
<!--        <div class="banner-promo">-->
<!--            <h1><span>50% OFF</span><br>-->
<!--                Best Price <br> Best Quality</h1>-->
<!--        </div>-->
<!--    </div>-->
<!--    <h3 class = "dashboard-title">Recommend For You</h3>-->
<!--    <div class="dashboard-menu">-->
<!--        <a class= "bull" href="#">Favorites</a>-->
<!--        <a class= "bull" href="#">Top Rated</a>-->
<!--        <a class= "bull" href="#">All</a>-->
<!--    </div>-->

<!--    <div class="dashboard-content">-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Apricot.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Apricot<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Avocado.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Avocado<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Blueberry.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Blueberry<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/coconut.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Coconut<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Jackfruit.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Jackfruit<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Kiwi.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Kiwi<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/lemon.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Lemon<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Mandarin-orange.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Mandarin-orange<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/mango.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Mango<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Melon.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Melon<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/pears.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Pears<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="dashboard-content hidden">-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/ginger.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Ginger<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/Capsicums.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Capsicums<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/beetroot.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Beetroot<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/onion.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Onion<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Jackfruit.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Jackfruit<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Kiwi.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Kiwi<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/eggplant.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Eggplant<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Mandarin-orange.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Mandarin-orange<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/mango.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Mango<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/fennel.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Fennel<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/pears.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Pears<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="dashboard-content hidden">-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/carrot.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Carrot<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/cucumber.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Cucumber<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/artichoke.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Artichoke<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Apricot.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Apricot<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/vegetables/drumstick.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Drumstick<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Kiwi.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Kiwi<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/lemon.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Lemon<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Mandarin-orange.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Mandarin-orange<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/mango.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Mango<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/Melon.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Melon<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="dashboard-card">-->
<!--            <img class=" card-image" th:src = "@{/image/fruits/pears.jpg}">-->
<!--            <div class="card-detail">-->
<!--                <h4>Pears<span>Price:$1</span></h4>-->
<!--                <p>As per the Quantity</p>-->
<!--                <p class= "card-time"><span class = "fa fa-clock-o"></span> 30-60 mins</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--</div>-->
<!--<div class="dashboard-order">-->
<!--    <h3>Order Menu</h3>-->
<!--    <div class="order-address">-->
<!--        <p>Address Delivery</p>-->
<!--        <h4>Kathmandu, Nepal</h4>-->
<!--    </div>-->
<!--    <div class="order-time">-->
<!--        <span class = "fa fa-clock-o"></span> 30 mins <span class="fa fa-map-marker"> 2 km</span>-->
<!--    </div>-->

<!--    <div class="order-wrapper">-->
<!--        <div class="order-card">-->
<!--            <img class="order-image" th:src= "@{/image/fruits/Avocado.jpg}">-->
<!--            <div class="order-detail">-->
<!--                <p>Avocado</p>-->
<!--                <i class="fa fa-times"></i>-->
<!--                <button class="decrease-item">-</button>-->
<!--                <span>1</span>-->
<!--                <button class="increase-item">+</button>-->
<!--            </div>-->
<!--            <h4 class="order-price">$1</h4>-->
<!--        </div>-->
<!--        <div class="order-card">-->
<!--            <img class="order-image" th:src= "@{/image/fruits/Jackfruit.jpg}">-->
<!--            <div class="order-detail">-->
<!--                <p>Jackfruit</p>-->
<!--                <i class="fa fa-times"></i>-->
<!--                <button class="decrease-item">-</button>-->
<!--                <span>1</span>-->
<!--                <button class="increase-item">+</button>-->
<!--            </div>-->
<!--            <h4 class="order-price">$1</h4>-->
<!--        </div>-->
<!--        <div class="order-card">-->
<!--            <img class="order-image" th:src= "@{/image/fruits/Kiwi.jpg}">-->
<!--            <div class="order-detail">-->
<!--                <p>Kiwi</p>-->
<!--                <i class="fa fa-times"></i>-->
<!--                <button class="decrease-item">-</button>-->
<!--                <span>1</span>-->
<!--                <button class="increase-item">+</button>-->
<!--            </div>-->
<!--            <h4 class="order-price">$1</h4>-->
<!--        </div>-->
<!--    </div>-->
<!--    <hr class="divider">-->
<!--    <div class="order-total">-->
<!--        <p>Subtotal <span>$12</span></p>-->
<!--        <p>Tax (10%) <span>$15.6</span></p>-->
<!--        <p>Delivery Fee <span>$3</span></p>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>
<!-- Header -->
<header class="header">
    <a href="/" class="logo">Anna Bazar<span class="yellow">roo</span></a>
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="/profile">Profile</a>
        <a href="#contact">Contact Us</a>
        <a th:href="'/cardmenu/'+${userDetail.id}" class="btn">Make an Order</a>
    </nav>
    <!-- Hamburger -->
    <div class="hamburger">
        <img th:src = "@{/photo/grid-outline.svg}" alt="" />
    </div>
</header>

<section class="home" id="home">
    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>
    </div>
    <div class="gallery">
        <div class="context" th:each="item:${items}">
<!--            <img th:src = "@{/photo/online.jpeg}">-->
            <img th:src="'data:image/png;base64,'+${item.imageBase64}"/>
<!--            <h3>Deliver</h3>-->
            <h3 th:text="${item.item_name}"></h3>
<!--            <p>information related to online delivery system </p>-->
            <p th:text="${item.item_description}"></p>
<!--            <h6>$10.00</h6>-->
            <h6 th:text="${item.item_price}"></h6>
            <ul>
                <li><i class = "fa fa-star checked"></i></li>
                <li><i class = "fa fa-star checked"></i></li>
                <li><i class = "fa fa-star checked"></i></li>
                <li><i class = "fa fa-star checked"></i></li>
                <li><i class = "fa fa-star "></i></li>
            </ul>
            <form th:action="@{/order/saveorder}" th:method="@{post}" th:object="${orderPojo}">
            <input type="hidden" th:value="${userDetail.id}" name="user_id"></input>
            <input type="hidden" th:value="${item.id}" name="adminPage_id"></input>
            <button class = "buy-all">Order Now</button>
            </form>
<!--            <form th:action="@{/order/saveorder}" th:method="@{post}" th:object="${orderPojo}">-->
<!--                <p th:field="*{user_id}" th:value="${userDetail.id}" th:text="${userDetail.id}"></p>-->
<!--                <p th:field="*{adminpage_id}" th:value="${item.id}" th:text="${item.id}"></p>-->
<!--                <button class = "buy-all">Order Now</button>-->
<!--            </form>-->
        </div>
    </div>
</section>

<!-- --Footer-- -->
<footer class="footer">
    <div class="top">
        <div class="content">
            <a href="" class="logo">Anna Bazar<span class="yellow">roo</span></a>
            <p>
                Lorem ipsum dolor sit amet,adipiscing elit. Eu, montes, metus
                porttitor consectetur pretium. Euismod imperdiet
            </p>
        </div>

        <div class="links">
            <div class="link">
                <h4>Contact Information</h4>
                <div>
                    <img th:src="@{/photo/location-cross.svg}" alt="" />
                    <span>122,Albert St, Port Melbourne,Vic 3207.</span>
                </div>
                <div>
                    <img th:src="@{/photo/sms-tracking.svg}" alt="" />
                    <span>annabazarroo@gmail.com</span>
                </div>
            </div>

            <div class="link">
                <h4>Quick Links</h4>
                <a href="#">Contact Us</a>
                <a href="#">Download</a>
            </div>

            <div class="link">
                <h4>Legal</h4>
                <a href="#">Privacy Policy</a>
                <a href="#">Term of Use</a>
                <a href="#">Conditions</a>
                <a href="#">Location</a>
            </div>

            <div class="link">
                <h4>Connect with Us</h4>
                <div>
                    <img th:src="@{/photo/instagram.svg}" alt="" />
                    <span>Instagram</span>
                </div>
                <div>
                    <img th:src="@{/photo/twitter.svg}" alt="" />
                    <span>Twitter</span>
                </div>
                <div>
                    <img th:src="@{/photo/facebook.svg}" alt="" />
                    <span>Facebook</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2010-2022 Deliveroo Company S.L. All rights reserved.</p>
    </div>
</footer>

<div class="scroll-top">
    <img th:src="@{/photo/arrow-up-outline.svg}" alt="" />
</div>

<!--<script src="menscr.js"></script>-->

<script th:src="@{/js/system.js}"></script>
</body>
</html>
